DJANGO_SECRET_KEY=dev-secret-change-me
DJANGO_DEBUG=1

POSTGRES_DB=reviews_app
POSTGRES_USER=django
POSTGRES_PASSWORD=django_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

MONGO_URI=mongodb://localhost:27017
MONGO_DB=reviews_db

KAFKA_BROKER=localhost:29092

# Absolute path to project root (parent of django_app)
PROJECT_ROOT=/home/mohamed/amazon-reviews-bigdata
